@model IEnumerable<p00.Models.Teacher>

@{
    ViewBag.Title = "الاجازات";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>قائمة الاساتذة</h2>


<div style=" margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */" class="col-10 card card-primary col-xs-10  ">

    <!-- /.card-header -->
    <!-- form start -->

    <div class="col-12">
        <div class="card card-warning">
            <div>



            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0 ">
                <table id="example1" class="table table-bordered table-hover  table-warning ">
                    <thead class="bg-warning">


                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.University)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.College)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Department)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.ScientificTitle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vacation)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.University)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.College)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Department)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ScientificTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vacation)
                                </td>
                                <td>
                                    @if (item.Vacation == false)
                                    {
                                        @Html.ActionLink("تفعيل الاجازه", "Activatethevacation", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-success" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("الغاء الاجازه", "Cancellationofleave", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
               </div>
            </div>
        
</div>
</div>