@model IEnumerable<p00.Models.TopicEV>
@using Microsoft.AspNet.Identity
@using WebApplication2.Models;

@{
    ViewBag.Title = "تقييم";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>اللجان</h2>
@if (Request.IsAuthenticated)
    {
        var db = new ApplicationDbContext();
        var UserID = User.Identity.GetUserId();
        var CurrentUser = db.Users.Where(a => a.Id == UserID).SingleOrDefault();
        var CurrentTeacher = db.UserToTeachers.Where(a => a.UserID == UserID).SingleOrDefault();
        var Currentcommit = db.CommHeeMembers.Where(a => a.Teacherid == CurrentTeacher.TeacherID).SingleOrDefault();
        var Teacher = db.Teachers.ToList();
        if (Currentcommit != null)
        {
            var Currentcommit2 = db.CommHees.Where(a => a.id == Currentcommit.CommHeeid).SingleOrDefault();
            var Currentcommit3 = db.CommitHees.Where(a => a.id == Currentcommit2.CommitHeesid).SingleOrDefault();
        <div class="card col-lg-12">
            @*<h1>الحاسبات</h1>*@
            <h1 class="card-header-tabs">@Currentcommit3.comitname</h1>
            <div>
                <p class="card-body">@Currentcommit3.comitDecipt .</p>
            </div>
           
           
        </div>
        /////////////////////////////////////

        foreach (var item in Teacher)
        {
            // var item3 = item.TopicEVs;
            var ta2 = db.TopicEVs.Where(a => a.TeacherId == item.Id & a.Approved == false&a.Topics.CommitHeesID==Currentcommit3.id);
            if(item.Id!= CurrentTeacher.TeacherID&&ta2.Count()>0)
            {



<div class="content-wrapper">
    <div class="panel-heading"><h1>@Html.DisplayFor(modelItem => item.FullName)</h1></div>

    <h2>تقييم الفقرات</h2>
    <div class="row panel-body">


        <br />
        @*////////////////////////////////////////////*@
        @foreach (var item2 in Model)
        {
            var document = db.Documents.Where(a => a.TopicEVId == item2.Id);
            if (item2.Topics.CommitHeesID == Currentcommit3.id && item2.Approved == false && item2.TeacherId == item.Id)
            {
                <div class="col-md-3 card card-warning">
                    <h2 class="card-header">محور @Html.DisplayFor(modelItem => item2.Sections.SectionName)</h2>
                    <h3 class="card-body">فقرة @Html.DisplayFor(modelItem => item2.Topics.TopicName)</h3>
                    <h5 class="card-body">@Html.DisplayFor(modelItem => item2.Topics.Description)</h5>
                    @if (item2.Topics.ReqDoc == true)
                    {
                        <h4>هذا الفقره تحتاج وثيقه</h4>
                        if (document.Count() <= 0)
                        {
                            <h5>لم يتم رفع وثيقه من قبل @item.FullName</h5>
                        }
                        else
                        {
                            <h5>تم رفع الوثيقه من قبل @item.FullName</h5>
                        }
                    }
                    else
                    {
                        <h4 >لاتحتاج لوثيقه</h4>
                    }
                    @Html.ActionLink("تقييم", "Edit", new { id = item2.Id }, new { @class = "btn btn-outline-dark" })
                </div>
            }

        }

        @*///////////////////////////////*@
    </div>

</div>
            }
        }



        ///////////////////////////////////////

    }
}
