@model p00.Models.TopicEV
@using Microsoft.AspNet.Identity
@using WebApplication2.Models;

@{
    ViewBag.Title = "تعديل ورفع الوثائق";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@if (Request.IsAuthenticated)
{
    var db = new ApplicationDbContext();
    var document = db.Documents.Where(a => a.TopicEVId == Model.Id);
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-pen-nib"></i>
                    الوثائق المرفوعة للفقرة
                </h3>
            </div>
            <dl class="dl-horizontal">
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="callout callout-warning">
                        <dt>
                            <h5> @Html.DisplayName("تاريخ الاستماره:")</h5>
                        </dt>
                        <dd>
                            <p>@Html.DisplayFor(model => model.EvaluationForm.year)</p>
                        </dd>

                    </div>
                    <div class="callout callout-warning">
                        <dt>
                            <h5>   @Html.DisplayNameFor(model => model.Sections.SectionName)</h5>
                        </dt>
                        <dd>
                            <p> @Html.DisplayFor(model => model.Sections.SectionName)</p>
                        </dd>

                    </div>
                    <div class="callout callout-warning">
                        <dt>
                            <h5>   @Html.DisplayNameFor(model => model.Sections.Description)</h5>
                        </dt>
                        <dd>
                            <p>  @Html.DisplayFor(model => model.Sections.Description)</p>
                        </dd>

                    </div>
                    <div class="callout callout-warning">
                        <dt>
                            <h5>   @Html.DisplayNameFor(model => model.Topics.TopicName)</h5>
                        </dt>
                        <dd>
                            <p>    @Html.DisplayFor(model => model.Topics.TopicName)</p>
                        </dd>

                    </div>
                    <div class="callout callout-warning">
                        <dt>
                            <h5>    @Html.DisplayNameFor(model => model.Topics.Description)</h5>
                        </dt>
                        <dd>
                            <p>     @Html.DisplayFor(model => model.Topics.Description)</p>
                        </dd>

                    </div>

                </div>
            </dl>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <div class="col-12">
        <div class="card card-warning">
            <div class="card-header">
                <div class="card-title">
                    الوثائق الخاصة بالفقرة
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    @foreach (var itme in document)
                    {



                        <div class="col-sm-2">
                            <a href="~/Uploads/@itme.Name" data-toggle="lightbox" data-title="@itme.Name" data-gallery="gallery">
                                <img src="~/Uploads/@itme.Name" class="img-fluid mb-2" alt="وثيقة" />
                            </a>
                            <div class="row panel-body card-footer">
                                @Html.ActionLink("تغيير الوثيقه", "EditDocumentOf", new { id = itme.IdDocument }, new { @class = "btn btn-primary" })
                            </div>
                        </div>



                    }
                </div>
                <br />
                <div class="card-footer btn btn-outline-success">  @Html.ActionLink("الرجوع الى القائمة", "DocumentsofTopic")</div>
                </div>
        </div>
    </div>






}

    
  

