@model p00.Models.CommitHees

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>اللجان</h2>

<h3>هل انت متأكد من حذف هذا ؟</h3>
<div class="col-md-12">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-pen-nib"></i>
                اللجان
            </h3>
        </div>
        <dl class="dl-horizontal">
            <!-- /.card-header -->
            <div class="card-body">
                <div class="callout callout-warning">
                    <dt>
                        <h5> @Html.DisplayNameFor(model => model.comitname)</h5>
                    </dt>
                    <dd>
                        <p>@Html.DisplayFor(model => model.comitname)</p>
                    </dd>

                </div>
                <div class="callout callout-warning">
                    <dt>
                        <h5>  @Html.DisplayNameFor(model => model.comitDecipt)</h5>
                    </dt>
                    <dd>
                        <p>@Html.DisplayFor(model => model.comitDecipt)</p>
                    </dd>

                </div>
                <div class="callout callout-warning">
                    <dt>
                        <h5>   @Html.DisplayNameFor(model => model.comitpriod)</h5>
                    </dt>
                    <dd>
                        <p> @Html.DisplayFor(model => model.comitpriod)</p>
                    </dd>

                </div>
                <div class="callout callout-warning">
                    <dt>
                        <h5>  @Html.DisplayNameFor(model => model.comittype)</h5>
                    </dt>
                    <dd>
                        <p> @Html.DisplayFor(model => model.comittype)</p>
                    </dd>

                </div>
                <div class="callout callout-warning">
                    <dt>
                        <h5>    @Html.DisplayNameFor(model => model.isActive)</h5>
                    </dt>
                    <dd>
                        <p>  @Html.DisplayFor(model => model.isActive)</p>
                    </dd>

                </div>

            </div>
        </dl>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color card-body">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("الرجوع الى القائمة", "Index")
        </div>
    }
</div>
