@model IEnumerable<p00.Models.EvaluationForm>



@{
    ViewBag.Title = "الاستمارات";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

 

<h2>@ViewBag.Title</h2>

<p>
  <button class="btn btn-s" >  @Html.ActionLink("اضافة", "Create")</button>
</p>

<table id="example1" class="table table-bordered table-hover table-warning">
    <thead>
        <tr class="bg-warning">
            <th>
                @Html.DisplayNameFor(model => model.year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.iscurent)
            </th>
           

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.iscurent)
                </td>
                <td>
                    <button type="button" class="btn btn-outline-success">   @Html.ActionLink("اضافة المحاور", "Edit", new { id = item.id }) </button>
                    <button type="button" class="btn btn-outline-success">    @Html.ActionLink("التفاصيل", "Details", new { id = item.id })  </button>
                    <button type="button" class="btn btn-outline-danger">   @Html.ActionLink("حذف الاستمارة", "Delete", new { id = item.id }) </button>
                    <button type="button" class="btn btn-outline-success">     @Html.ActionLink("اضافة بيانات الاساتذة للاستمارة", "into", new { id = item.id }) </button>
                    <button type="button" class="btn btn-outline-warning">   @Html.ActionLink("نسخ الاستماره", "CopyEvaluation", new { id = item.id }) </button>

                </td>
            </tr>
        }
    </tbody>

</table>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}
